.header {
    font-weight: bold;
    font-size: 20px;
    padding-tom: 1.0rem;
    padding-bottom: 2.0rem;
}

.heading {
    color: red;
}

.buttons {
    display: flex;
}

.button {
    padding: 4px 20px 4px 20px;
    border: solid 1px;
    border-radius: 8px;
}
